<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>
  {{default title page.basename}} | Assemble
</title>

<!-- Styles -->
<link rel="stylesheet" href="{{assets}}/css/styleguide.css">



